doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='css/main.css', rel='stylesheet')
  body
    h1 This is a page!
    p Jade is a terse and simple templating language with a strong focus on performance and powerful TEST AGAIN test tester again